<div class="wrapper">
  <h2>We work with the bests in the world</h2>
  <div class="list">
    <div class="row">
      <a routerLink="/">
        <img src="assets/images/DHL.png">
      </a>
      <a routerLink="/">
        <img src="assets/images/DPD.png">
      </a>
      <a routerLink="/">
        <img src="assets/images/Fedex.png">
      </a>
      <a routerLink="/">
        <img src="assets/images/Hermes.png">
      </a>
    </div>
    <div class="row">
      <a routerLink="/">
        <img src="assets/images/Parce-Force.png">
      </a>
      <a routerLink="/">
        <img src="assets/images/TNT.png">
      </a>
      <a routerLink="/">
        <img src="assets/images/UPS.png">
      </a>
      <a routerLink="/">
        <img src="assets/images/USA-Postal-Service.png">
      </a>
      <a routerLink="/">
        <img src="assets/images/collectplus-logo.png">
      </a>
    </div>
  </div>
</div>
