<div class="topbar">
  <div class="logo">
    <a routerLink="/">
      <img src="/assets/images/Logo.png">
    </a>
  </div>
  <div class="navigation">
    <div class="lang-selector">
      <img src="assets/images/icons/usa-ico.png">
      <span class="arrow"></span>
    </div>
    <div class="currency-selector">
      <p class="value">$USD</p>
      <span class="arrow"></span>
    </div>
    <ul>
      <li>
        <a routerLink="/">Our Services</a>
      </li>
      <li>
        <a routerLink="/">Expertise</a>
      </li>
      <li>
        <a routerLink="/">Business</a>
      </li>
      <li>
        <a routerLink="/">Blog</a>
      </li>
      <li>
        <a routerLink="/">FAQ</a>
      </li>
    </ul>
  </div>
  <div class="search">
    <input type="text" placeholder="Tracking Number">
    <div class="search-selector">
      <div class="search-selector-label">
        <p>DHL</p>
        <span class="arrow"></span>
      </div>
    </div>
    <div class="sign-in">
      <a href="/">Login/Sign Up</a>
    </div>
  </div>
</div>
