<div class="wrapper">
  <h3>The values we believe in</h3>
  <div class="list">
    <div class="list-item">
      <img class="icon" src="/assets/images/icons/secure-ico.png">
      <h4>Easily Send Parcel WorldWide</h4>
      <ul>
        <li>
          <img src="assets/images/icons/v-ico.png">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostru</p>
        </li>
        <li>
          <img src="assets/images/icons/v-ico.png">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostru</p>
        </li>
        <li>
          <img src="assets/images/icons/v-ico.png">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostru</p>
        </li>
      </ul>
    </div>
    <div class="list-item">
      <img class="icon" src="/assets/images/icons/time-ico.png">
      <h4>Easily Send Parcel WorldWide</h4>
      <ul>
        <li>
          <img src="assets/images/icons/v-ico.png">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostru</p>
        </li>
        <li>
          <img src="assets/images/icons/v-ico.png">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostru</p>
        </li>
        <li>
          <img src="assets/images/icons/v-ico.png">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostru</p>
        </li>
      </ul>
    </div>
    <div class="list-item">
      <img class="icon" src="/assets/images/icons/tick-ico.png">
      <h4>Easily Send Parcel WorldWide</h4>
      <ul>
        <li>
          <img src="assets/images/icons/v-ico.png">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostru</p>
        </li>
        <li>
          <img src="assets/images/icons/v-ico.png">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostru</p>
        </li>
        <li>
          <img src="assets/images/icons/v-ico.png">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostru</p>
        </li>
      </ul>
    </div>
    <div class="list-item">
      <img class="icon" src="/assets/images/icons/world-ico.png">
      <h4>Easily Send Parcel WorldWide</h4>
      <ul>
        <li>
          <img src="assets/images/icons/v-ico.png">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostru</p>
        </li>
        <li>
          <img src="assets/images/icons/v-ico.png">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostru</p>
        </li>
        <li>
          <img src="assets/images/icons/v-ico.png">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostru</p>
        </li>
      </ul>
    </div>
  </div>
</div>
